@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-background">
    <h1 class="display-4">Welcome</h1>
    <p>
        When completing the food and symptom diary, it is important to provide precise information. Please include details such as quantity, brand, type, and the amount consumed. For
        instance, when documenting bread consumption, kindly specify "2 slices of multigrain bread."
    </p>
</div>
